.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 400px;
    background-color: whitesmoke;
    z-index: 1000;
    border-radius: 20px;
    padding: 20px;
    transition: 1000ms;
}

.back-to-results-btn {
    border: none;
    /* outline: none; */
    background-color: transparent;
    display: flex;
    align-items: center;
}

.back-arrow-icon {
    height: 35px !important;
    width: 35px !important;
    color: rgb(55, 211, 195);;
}

.more__user-details {
    margin-top: 20px;
    display: flex;
    box-sizing: border-box;
}

.user__picture {
    height: 150px !important;
    width: 150px !important;
    border: 5px solid rgb(55, 211, 195);
    margin-right: 15px;
}

.user__name {
    margin-bottom: 15px;
    font-size: 16px;
}

.user__name > span {
    font-weight: 300;
}

.user__address {
    font-size: 13px;
    margin-bottom: 10px;
}

.user__email {
    background-color: #ddd;
    /* max-width: 200px; */
    flex-wrap: wrap;
    font-size: 10px;
    
}

.user__registered {
    background-color: rgb(242, 194, 201);
    font-weight: 700;
}

.user__email,
.user__registered {
    padding: 8px 15px;
    border-radius: 10px;
    font-size: 10px;
    margin: 15px 0;
}

.user__phone,
.user__cell {
    font-size: 10px;
    margin: 20px 0;
}
