.list__pagination-btns {
    display: flex;
    flex-wrap: wrap;
}

.pagination__btn {
    background-color: #ccc;
    font-size: 10px;
    font-weight: 700;
    padding: 7px 9px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 2px;
    cursor: pointer;
}

.pagination__btn:hover,
.pagination__btn:focus {
    background-color: #111;
    color: white;
    transform: scale(1.1);
    box-shadow: 0 0 10px #333;
}